{% extends 'layout.html' %}
{% block content %}
    <main>
        <section class="container d-flex align-items-center justify-content-center flex-column pt-5">
            <h1>This are your login details for</h1>
            <h2 class="h1 pb-3">{{data[0][1]}}</h2>
            <table style="border: 1px solid black;">
                <tbody>
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black; padding: 10px;"><b>Website</b></td>
                        <td style="border: 1px solid black; padding-inline: 10px;">{{data[0][1]}}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 10px;"><b>Username</b></td>
                        <td style="border: 1px solid black; padding-inline: 10px;">{{data[0][2]}}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 10px;"><b>Password</b></td>
                        <td style="border: 1px solid black; padding-inline: 10px;">{{data[0][3]}}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 10px;"><b>Email</b></td>
                        <td style="border: 1px solid black; padding-inline: 10px;">{{data[0][4]}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="d-flex justify-content-center pt-5">
            <a class="btn btn-primary mr-3" href="/">Go home</a>
            <a class="btn btn-secondary" href="/login/update/{{data[0][0]}}">Edit</a>
        </section>
    </main>
{% endblock %}